#chat-screen {
  background-color: #abc1d1;
  height: 11000vh;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
}

.main-chat {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.55);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 3px 10px;
}
