.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 52px 25px 25px 25px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header {
  position: relative;
}
.screen-header__icons span {
  margin-left: 25px;
}
.screen-header__dot {
  position: absolute;
  color: tomato;
  font-weight: 500;
  font-size: 200%;
  right: 17px;
  top: 30px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}
